<%= render 'shared/topnav' %>

<div id="singlepost" class="container">	
	<div class="row">

		<!-- sidebar -->
		<%= render 'shared/sidebar' %>

		<div class="col-md-9">
		<% @postsL.each do |postL| %>
			<h1><%= postL.name %></h1>
				
				<p><%= raw postL.content %></p>
				<br>
				
		</div>
		<% end %>
	</div>	
</div>